/*RESPONSIVE*/
/*RESPONSIVE*/
@media only screen and (max-width: 363px) {
  /* default value*/
  .palette {
    display: none;
  }
  .product-img img {
    height: 60px;
  }
  :root {
    font-size: 20%; /* Adjust the font size for smaller screens if needed */
  }
  ::placeholder {
    font-size: 10px;
  }
  .cart {
    max-width: 30vw;
    border-radius: 16px;
  }
  .search-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .search-cart button {
    display: flex;
  }
  #waiting-order {
    font-size: 2rem;
  }
  .navbar {
    flex-direction: column; /* Stack navigation items vertically on smaller screens */
    gap: 1rem; /* Add a gap between navigation items for better readability on smaller screens */
  }
  .logo-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo h4 {
    font-size: 5rem;
  }
  /*Banner*/
  .content {
    margin: 0;
    position: absolute;
    top: 50rem;
    left: 20px;
  }
  /*About*/
  .about-footer-title {
    display: flex;
    flex-direction: column;
  }
  .about-footer-title img {
    width: 10%;
  }
  .subscribe-content {
    position: relative;
    gap: 0vw;
    left: -5rem;
  }

  .email-input input {
    border: none;
    outline: none;
    padding-right: 0;
    border-radius: 16px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 363px) {
  /* default value*/

  :root {
    font-size: 30%; /* Adjust the font size for smaller screens if needed */
  }

  .content {
    margin: 0;
    position: absolute;
    top: 35vw;
    left: 5vw;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .logo-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%; /* Adjust logo-menu width to fit smaller screens */
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-cart {
    margin: 5px;
  }
  .about-footer-title {
    display: flex;
    flex-direction: column;
  }
  .about-footer-title img {
    width: 10%;
  }
  .product-img img {
    height: 100px;
  }

  /*subscribe*/
  .subscribe-content {
    gap: 0vw;
    left: 0rem;
  }

  .email-input input {
    border: none;
    outline: none;
    padding-right: 5%;
    border-radius: 16px;
  }
  .email-input button {
    padding: 10px;
  }
  /*Pallette*/
  .palette img {
    position: absolute;
    z-index: 0;
  }
  #onion {
    width: 10vw;
    z-index: 3;
    top: auto;
  }
  #three-leaf {
    width: 5vw;
    top: auto;
    left: 8vw;
    z-index: 3;
  }
  #strawberry {
    width: 10vw;
    top: auto;
    left: 40vw;
    z-index: 3;
  }
  #two-leaf {
    width: 8vw;
    top: auto;
    right: 10vw;
    z-index: 3;
  }
  #bot-right-leaf {
    width: 10vw;
    right: 0;
    top: 55vw;
    bottom: 5vw;
    z-index: 3;
  }
  #line-leaf {
    width: 5vw;
    right: 4vw;
    top: 60vw;
    bottom: 1vw;
    z-index: 3;
  }
  #top-right-leaf {
    position: absolute;
    width: 3vw;
    right: 0;
    top: 5vw;
    z-index: 3;
  }
}
/*Max width 850*/
@media only screen and (min-width: 600px) and (max-width: 850px) {
  :root {
    font-size: 40%; /* Adjust the font size for smaller screens if needed */
  }
  .body {
    overflow-x: hidden;
  }
  .container {
    max-width: 100%; /* Adjust container width to fit smaller screens */
    padding: 0 1rem; /* Add padding to container for better readability on smaller screens */
  }
  .btn {
    padding: 2vw 3vw;
    border-radius: 1.6rem;
  }
  .btn1 {
    padding: 2vw 3vw;
    border-radius: 1.6rem;
  }
  .default-btn {
    padding: 2vw 3vw;
    border-radius: 1.6rem;
  }
  .product-img img {
    height: 115px;
  }
  /* Responsive section*/
  /*** Header ***/
  .header {
    width: 100%;
    padding: 1rem 0rem; /* Adjust header padding for smaller screens */
  }

  .navbar {
    flex-direction: column; /* Stack navigation items vertically on smaller screens */
    gap: 1rem; /* Add a gap between navigation items for better readability on smaller screens */
  }

  .logo-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%; /* Adjust logo-menu width to fit smaller screens */
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h4 {
    font-size: 3rem;
    margin: 0;
  }
  .search-cart {
    width: 100%; /* Adjust search-cart width to fit smaller screens */
    justify-content: center; /* Center align search-cart on smaller screens */
    gap: 2rem;
  }

  .search-box {
    padding: 0.2rem 0.5rem; /* Adjust search-box padding for smaller screens */
  }
  .search-box input {
    font-size: 1.5rem;
  }
  .search-box button {
    display: flex;
  }
  /*Banner*/
  .banner {
    flex: 1;
    width: 100%;
  }

  .content {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 30vw;
    left: 5vw;
  }

  .title h3 {
    padding: 2rem 0;
    font-size: 2.5vw;
  }
  /*About*/

  .about-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .counters {
    margin-top: 5rem;
  }
  .chart h4 {
    font-size: 2vw;
  }
  .chart h6 {
    font-size: 0.8vw;
    top: 5vw;
  }
  /*Subscribe*/
  .subscribe h6 {
    font-size: 1.8vw;
  }
  .subscribe-content {
    gap: 3vw;
  }
  .email-input input {
    border: none;
    outline: none;
    padding-right: 10%;
    border-radius: 16px;
  }
  /*blog*/
  .blog {
    padding: 0;
  }
  /*Footer*/
  .footer-about img {
    width: 14px;
  }
  .about-footer-title {
    display: flex;
  }
  .subscribe-text {
    margin: 0 3vw 0 0;
  }
  /*Pallette*/
  .palette img {
    position: absolute;
    z-index: 0;
  }
  #onion {
    width: 10vw;
    z-index: 3;
    top: auto;
  }
  #three-leaf {
    width: 5vw;
    top: auto;
    left: 8vw;
    z-index: 3;
  }
  #strawberry {
    width: 10vw;
    top: auto;
    left: 40vw;
    z-index: 3;
  }
  #two-leaf {
    width: 8vw;
    top: auto;
    right: 10vw;
    z-index: 3;
  }
  #bot-right-leaf {
    width: 10vw;
    right: 0;
    bottom: 5vw;
    z-index: 3;
  }
  #line-leaf {
    width: 5vw;
    right: 4vw;
    bottom: 3vw;
    z-index: 3;
  }
  #top-right-leaf {
    position: absolute;
    width: 3vw;
    right: 0;
    top: 5vw;
    z-index: 3;
  }
}

/* NAVIGATION BAR*/
@media only screen and (max-width: 1032px) {
  .menu {
    text-wrap: nowrap;
  }
}
