/*Default CSS*/
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto&display=swap");

:root {
  background-color: #fff;
  font-size: 62.5%;
}

table,
img {
  max-width: 100%;
}
body {
  margin: 0;
}
.shop-banner {
  display: flex;
  background: #e3f1e9;
  padding: 5rem 0 0;
  object-fit: cover;
  height: 30rem;
}
.shop-single-banner {
  display: flex;
  justify-content: space-between;
  background: #f2f2f4;
  margin: 5rem 0 0 0;
  object-fit: cover;
  height: 30rem;
}
.shop-single-banner img {
  width: 100%;
  height: 100%;
}
.shop-banner img {
  width: 100%;
  height: 100%;
}
.shop-subscribe {
  margin: 10rem 0;
}

.shop-header {
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 23%;
}
